.contact-container {
  margin-top: 62px;
  margin-left: 150px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .contact-container {
    margin-top: 62px;
    margin-left: 0px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
