#app {
  min-height: 100vh;
  height: max-content;
  background-image: url("../../images/HomeBackground.png");

  background-size: cover;
}

@media (max-width: 900px) {
  #app {
    background-position: center;
  }
}
