
.my-skill-container{
  margin-top: 62px;
}
.desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
  
  @media (max-width: 900px) {
    .my-skill-container{
      margin-top: 0px;
    }
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
  