.mywork-container {
  padding-top: 62px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .mywork-container {
    padding-top: 20px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
